In [1]:
import pandas as pd

In [5]:
!ls *.csv

NO2_tables_roadside.csv  O3_tables_urban.csv	   PM2.5_tables_roadside.csv
NO2_tables_urban.csv	 PM10_tables_roadside.csv  PM2.5_tables_urban.csv
O3_tables_roadside.csv	 PM10_tables_urban.csv

In [33]:
# Load the Dataset, we get only the data without the tolerances [0:3]
NO2_road_df = pd.read_csv("NO2_tables_roadside.csv").iloc[:,:3]
NO2_urban_df = pd.read_csv("NO2_tables_urban.csv").iloc[:,:3]

PM10_road_df = pd.read_csv("PM10_tables_roadside.csv").iloc[:,:3]
PM10_urban_df = pd.read_csv("PM10_tables_urban.csv").iloc[:,:3]

PM25_road_df = pd.read_csv("PM2.5_tables_roadside.csv").iloc[:,:3]
PM25_urban_df = pd.read_csv("PM2.5_tables_urban.csv").iloc[:,:3]

O3_road_df = pd.read_csv("O3_tables_roadside.csv").iloc[:,:3]
O3_urban_df = pd.read_csv("O3_tables_urban.csv").iloc[:,:3]

In [41]:
urban_list = [NO2_urban_df, PM10_urban_df, PM25_urban_df, O3_urban_df]

road_list = [NO2_road_df, PM10_road_df, PM25_road_df, O3_road_df]

urban_dfs = [df.set_index(['Year', 'Site']) for df in urban_list]
road_dfs = [df.set_index(['Year', 'Site']) for df in road_list]

In [43]:
pd.concat(urban_dfs, axis=1).reset_index().dropna()

,Year,Site,Annual Mean NO2 concentration (ug/m3),Annual Mean PM10 concentration (ug/m3),Annual Mean PM2.5 concentration (ug/m3),Annual average maximum daily 8-hour mean O3 concentration (ug/m3)
826,2009,Aberdeen,25.648421,14.764388,6.925396,55.927191
827,2009,All sites,29.151215,18.852301,12.465989,54.610415
829,2009,Belfast Centre,32.798671,20.097637,12.289439,52.077628
831,2009,Birmingham Tyburn,31.997281,20.462223,13.572977,54.776184
832,2009,Blackpool Marton,19.510666,19.653333,8.600984,63.977300
...,...,...,...,...,...,...
1452,2019,Southend-on-Sea,17.874690,11.468666,10.664550,63.133196
1453,2019,Stoke-on-Trent Centre,23.975228,11.811439,9.469846,53.787467
1454,2019,Sunderland Silksworth,12.846238,10.732058,9.398201,65.133346
1460,2019,Wigan Centre,19.325859,12.819285,9.556293,62.270309
1461,2019,Wirral Tranmere,16.399858,10.832884,8.019627,65.000603

In [46]:
pd.concat(road_dfs, axis=1).reset_index().dropna()

,Year,Site,Annual Mean NO2 concentration (ug/m3),Annual Mean PM10 concentration (ug/m3),Annual Mean PM2.5 concentration (ug/m3),Annual average maximum daily 8-hour mean O3 concentration (ug/m3)
708,2009,All sites,45.799151,20.266085,12.771765,67.636427
765,2010,All sites,46.227337,21.659443,14.367955,67.062913
824,2011,All sites,41.165709,22.924186,15.962968,67.961618
883,2012,All sites,41.440285,20.041445,14.135290,65.761095
943,2013,All sites,38.883880,20.448184,13.345192,68.988411
1002,2014,All sites,38.360041,18.740210,12.587973,69.456637
1068,2015,All sites,36.082534,17.294772,10.941137,71.138144
1145,2016,All sites,37.546801,18.475508,11.170945,67.135562
1233,2017,All sites,33.677347,17.248447,9.929036,69.175001
1323,2018,All sites,32.802684,18.545331,10.605536,73.262161
1415,2019,All sites,31.137506,17.993981,10.081242,72.084503

We can see that the road_dfs is not easily usable but the urban dataframe is great! approx 250 points!!!