In [50]:
import pandas as pd

---
##### Loading of COVID dataset for UK

                                 Area name  Number of deaths
0                                     Adur                34
1                                Allerdale                59
2                             Amber Valley                76
3    Aneurin Bevan University Health Board               444
4                                     Arun                46
..                                     ...               ...
341                               Wychavon                93
342                                Wycombe                87
343                                   Wyre                72
344                            Wyre Forest               100
345                                   York               131

[346 rows x 2 columns]

In [146]:
UK_covid_df = pd.read_csv("lahbtablesweek20finalcodes.csv")
UK_covid_df = UK_covid_df[['Area name', 'Cause of death', 'Number of deaths']]

# What cause of death shall we consider? All or only Covid? TODO
UK_covid_df = UK_covid_df[UK_covid_df['Cause of death'] == 'COVID 19']

# Cumulative sum of death by area since we discard the 'place' of death previously
UK_covid_df = UK_covid_df.groupby('Area name', as_index=False).agg({'Number of deaths': 'sum'})
UK_covid_df.columns = ['site', '# death']

UK_covid_df.to_csv('UK_covid.csv', index=False)

In [174]:
UK_covid_df.iloc[217]

site       Powys Teaching Health Board
# death                             81
Name: 217, dtype: object

In [178]:
UK_covid_df = pd.read_csv("UK_covid.csv")
display(UK_covid_df)

from geopy import geocoders  
gn = geocoders.GeoNames(username='ojoqdjwqodjwq3')

gla_df = UK_covid_df
gla_df['lat'] = UK_covid_df.apply(lambda row: gn.geocode(row.site+', UK')[1][0], axis = 1) 
gla_df['lon'] = UK_covid_df.apply(lambda row: gn.geocode(row.site+', UK')[1][1], axis = 1)

             site  # death
0            Adur       34
1       Allerdale       59
2    Amber Valley       76
3            Arun       46
4        Ashfield      118
..            ...      ...
337      Wychavon       93
338       Wycombe       87
339          Wyre       72
340   Wyre Forest      100
341          York      131

[342 rows x 2 columns]

GeocoderAuthenticationFailure: ('HTTP Error 401: Unauthorized', 'occurred at index 0')

----
##### Merging

In [23]:
pd.merge(UK_polluant_df, UK_covid_df, left_on='Site', right_on='Area name')

,Site,NO2,PM10,PM2.5,O3,Area name,Number of deaths
0,Portsmouth,19.868063,19.393606,12.307988,60.859619,Portsmouth,97
1,Preston,23.555597,17.596912,10.623071,56.722292,Preston,86
2,Southend-on-Sea,18.904909,17.727802,11.949686,63.084420,Southend-on-Sea,141

In [140]:
UK_pol_df = pd.read_csv("UK_pol.csv")
UK_pol_df

                    site        no2       pm10      pm2.5       lat      lon
0               Aberdeen  21.323003  12.679401   7.534314  57.14369 -2.09814
1         Belfast Centre  29.134035  15.673754  10.273508  54.59633 -5.93004
2      Birmingham Tyburn  31.486575  18.136199  12.977897  52.51944 -1.80127
3                Bristol  27.290171  17.094891  12.165736  51.45523 -2.59665
4                   Bury  64.735355  23.568150  18.968763  53.60000 -2.30000
5         Cardiff Centre  24.618499  17.752360  11.066149  51.45059 -3.18679
6              Carlisle   25.497863  16.736710  10.123403  54.89510 -2.93820
7               Chatham   26.352329  21.624095  14.287534  51.37891  0.52786
8               Chepstow  37.051525  18.499128  12.275290  51.64087 -2.67683
9           Chesterfield  18.547914  17.374596  12.263998  53.25000 -1.41667
10         Chesterfield   19.728566  17.637416  10.976766  53.25000 -1.41667
11            Chilbolton  11.722125  13.396905   8.478259  51.13984 -1.41812
12                 Derry  15.259962  16.589939  12.937558  54.99810 -7.30934
13            Eastbourne  12.553868  20.447117  13.682230  50.76871  0.28453
14             Edinburgh  21.430834  12.859790   8.452806  55.95206 -3.19648
15               Glasgow  33.363089  16.397982   9.827335  55.86515 -4.25763
16           Grangemouth  15.519878  11.976926   8.422022  56.01141 -3.72183
17             Greenock   30.253852  10.931321   5.648391  55.94838 -4.76121
18             Haringey   43.381963  24.734310  17.957216  51.58333 -0.08333
19               Harwell   9.437631  16.145161  10.983388  51.59947 -1.29175
20             Inverness  18.917943   8.366700   4.884836  57.47908 -4.22398
21            Leamington  20.914667  16.192855  12.155859  52.28520 -1.52000
22                 Leeds  34.193295  17.076939  12.466237  53.79648 -1.54785
23             Leicester  27.247596  16.127777  13.679994  52.63860 -1.13169
24             Liverpool  22.220535  14.043256  10.216275  53.41058 -2.97794
25     London Bloomsbury  46.009976  18.847490  13.225163  51.52228 -0.12252
26     London Harlington  33.818430  17.157793  11.579014  51.48566 -0.43362
27     London Marylebone  89.112903  27.744030  18.319504  51.52541 -0.16806
28  London N. Kensington  34.949002  19.823275  13.126243  51.49215 -0.18770
29         Middlesbrough  16.415514  16.106813  10.162600  54.57623 -1.23483
30              Narberth   3.145721  10.631732   6.372653  51.79784 -4.74275
31             Newcastle  30.123413  13.776132   9.598543  54.97328 -1.61396
32               Newport  21.854744  15.715252  11.401431  51.58774 -2.99835
33               Norwich  13.693298  15.676369  12.406409  52.62783  1.29834
34            Nottingham  32.991035  19.583420  11.893482  52.95360 -1.15047
35                Oxford  16.265446  15.279960  11.356549  51.75222 -1.25596
36              Plymouth  21.602647  17.513255  10.875696  50.37153 -4.14305
37    Port Talbot Margam  17.350178  24.061039  11.306167  51.57310 -3.75735
38            Portsmouth  20.060526  17.504211  12.212826  50.79899 -1.09125
39               NewTown  26.524691  14.798124  10.175393  52.51667 -3.30000
40             Rochester  14.891735  16.326798  12.179256  51.38764  0.50546
41               Salford  28.621844  17.435397  12.818132  53.48771 -2.29042
42                Sandy   32.681312  18.219242  12.743278  52.12927 -0.28925
43             Sheffield  35.037947  23.098935  17.627019  53.38297 -1.46590
44           Southampton  31.590306  19.116533  13.229804  50.90395 -1.40428
45     Stanford-le-Hope   29.249173  20.586759  13.492327  51.52274  0.43422
46      Stockton-on-Tees  15.698383  16.177228  10.480185  54.56848 -1.31870
47        Stoke-on-Trent  30.174905  20.020131  14.578312  53.00415 -2.18538
48          Storrington   23.788097  19.666591  14.499005  50.91765 -0.45473
49              Swansea   28.686857  19.181631  12.703198  51.62079 -3.94323
50            Warrington  22.045634  16.007422  11.532024  53.39254 -2.58024